<% if @videos.present? %>
  <% @videos.each do |video| %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.youtube_video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <% end %>
<% else %>
  <h3>動画がありませんでした・・・</h3>
  検索条件を変更して、再度スポットを投稿してみてください
<% end %>