<h2>gmap</h2>

<%= text_field_tag :address, 'Place?', id: 'address' %>
<%= button_tag 'Encode', type: 'button', onclick: 'codeAddress()' %>
<div id="display"></div>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<%= javascript_importmap_tags %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBH1LEotlMO-NSfYOFW0LKXBD_2PUUYDo&callback=initMap" async defer></script>