<header>
  <div class="header-container" style="flex" >
    <div>
      <h1>
        <%= link_to '珍スポったー', root_path %>
      </h1>
    </div>
    <div>
      <%= link_to '行く', root_path %>
    </div>
  </div>
</header>