<header>
  <div>
    <div>
      <h1 class="text-7xl">
        <%= link_to '珍スポったー', maps_path %>
      </h1>
    </div>
    <div>
      <%= link_to '行く', new_map_path %>
    </div>
  </div>
</header>